[Unit]
Description=Auto start for Backgroundchanger
After= multi-user.target
[Service]
Type=simple
Restart=always
TimeoutStartSec=0
ExecStart=/usr/bin/backgroundchanger
[Install]
WantedBy=default.target
Alias=changer.service
